<h1><%= @user.name %>のお気に入り一覧</h1>

<% if @pictures.present? %>
  <% @pictures.each do |picture| %>
    <p><%= image_tag picture.image.url %></p>
    <p><%= picture.content %></p>
  <% end %>
<% end %>

<%= link_to '戻る', user_path(@user.id) %>
